SECRET_KEY=django-insecure-cambiar-en-produccion-1234567890abcdef
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=maritimo_db
DB_USER=postgres
DB_PASSWORD=1726899113
DB_HOST=localhost
DB_PORT=5432

TEST_DB_NAME=maritimo_test_db

CORS_ALLOW_ALL_ORIGINS=True
